<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   @Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script src="~/Scripts/free-jqGrid/jquery.jqgrid.min.js"></script>
    <script src="~/Scripts/free-jqGrid/i18n/grid.locale-ru.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Content/ui.jqgrid.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />






   



</head>
<body>

   

<div class="container body-content">
    @RenderBody()
    
</div>





</body>
</html>
